@charset "utf-8";
*{
	box-sizing: content-box;
}
.ni_g_ksry_del .ni_ks .ni_box{
	margin: 0 auto;
}
.ni_g_ksry_del .ni_ks .ni_box.ni_cz{background: url('../images/ni_ks_03.png') no-repeat left center;}
.ni_g_km_list li{ padding: 15px 0 30px; }


.ni_g_km_list .ni_img.ni_icon1,.ni_g_km_list .ni_img.ni_icon4,.ni_g_km_list .ni_img.ni_icon11{
	background-image: url(../images/subject_01.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon2{
	background-image: url(../images/subject_02.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon3{
	background-image: url(../images/subject_03.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon8{
	background-image: url(../images/subject_04.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon7{
	background-image: url(../images/subject_05.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon5{
	background-image: url(../images/subject_09.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon6{
	background-image: url(../images/subject_08.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon9{
	background-image: url(../images/subject_07.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon1010{
	background-image: url(../images/subject_02.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon10{
	background-image: url(../images/subject_06.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon013,.ni_g_km_list .ni_img.ni_icon1012{
	background-image: url(../images/subject_11.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_icon012,.ni_g_km_list .ni_img.ni_icon1013{
	background-image: url(../images/subject_12.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconSUB48{
	background-image: url(../images/subject_21.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconSUB7,.ni_g_km_list .ni_img.ni_iconSUB52{
	background-image: url(../images/subject_14.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconSUB59{
	background-image: url(../images/subject_15.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconSUB50,.ni_g_km_list .ni_img.ni_iconSUB49{
	background-image: url(../images/subject_13.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconSUB27{
	background-image: url(../images/subject_17.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconjcsub23{
	background-image: url(../images/subject_19.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconjcsub18{
	background-image: url(../images/subject_18.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconjcsub16{
	background-image: url(../images/subject_20.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconjcsub21{
	background-image: url(../images/subject_10.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}
.ni_g_km_list .ni_img.ni_iconjcsub20{
	background-image: url(../images/subject_16.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}