@charset 'UTF-8';
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100px;
}
.mytime > input{
	width: 120px;
	margin: 0 10px;
	vertical-align: middle;
}
.mytime > input + span{
	left: -30px;
	top: 4px;
}
form.form-horizontal > .form-group{
	margin: 0;
}
.dis_lb{
	display: inline-block;
}
.form-horizontal .radio, .form-horizontal .checkbox{
	min-height: initial;
	padding-top: 0;
}
.checkStyle1 > label{
	font-weight: 500;
}