@charset "UTF-8";
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 150px;
	margin-left: 20px;
}
.mycheck{
	margin-left: 130px;
}
.tabTit a{
	text-decoration: none;
}
form.form-horizontal > .form-group{
	position: relative;
}
.error_info{
	color: #ff7c7c;
	font-size: 14px;
}
.form-group.mytime .error_info{
	margin-left: 15px;
}
.mycheck + .error_info{
	position: absolute;
	top: 12px;
	right: 150px;
}
.form-group >.error_info{
	margin-left: 15px;
}