@charset "UTF-8";
.ni_box_style .layout .right{
	height: 560px;
}
.waiting-person{
	height: 500px;
}
.selected-person{
	height: 500px;
}
.scroll-box{
	height: 454px;
}
.Radio, .checkbox{
	margin: 0;
	font-weight: 500;
}
.scroll-box.ps-container{
	margin:0;
	padding: 0;
}
.layout .left{
	overflow: hidden;
	position: relative;
	width: 198px;
}
.boxStyle.ni_box_style .left{
	padding: 0;
}
ul.tier{
	padding: 20px 10px;
}

.noline_open{
	background: url(../images/ni_ico_on02.png) center center no-repeat;
	margin-right: 10px;
}
.noline_close{
	background: url(../images/ni_ico_on01.png) center center no-repeat;
	margin-right: 10px;
}
.ni_box_style .tier  li{
	outline: none;
}
.tier li span{
	padding:0;
}
ul.level0{
	margin-left: 15px;
} 
.badge{
	background-color: #cee8ff;
	color: #53a9ff;
	line-height: 21px;
    font-size: 16px;
    padding: 0 9px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}