@charset "utf-8";
label,dt{
	font-weight: 500;
}
.radio+.radio, .checkbox+.checkbox{
	margin-top: 10px;
}
.menu-list{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 51;
	overflow: hidden;
	display: none;
}
.menu-tab{
	width: 240px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -240px;
	background-color: #fff;
	z-index: 51;
}
.menu-title{
	color: #42a0fc;
	font-size: 16px;
	padding: 20px 15px;
	cursor: default;
	border-bottom: 1px solid #eee;
}
.menu-title span.icon_menu{
	width: 22px;
	height: 22px;
	background-image: url("../images/public/menu.png");
	background-size: cover;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	line-height: 22px;
}
.menu-select > li > a{
	color: #333;
	padding: 12px 15px;
	font-size: 14px;
	transition: all ease-in .1s;
	display: block;
}
.menu-select > li.active >a,.menu-select > li:hover > a{
	background-color: #42a0fc;
	color: #fff;
}