@charset "UTF-8";
/*.aside{
	width: 230px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #42a1fd;
}
.logo{
	padding: 20px 0;
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 0 10px #444;
}
.logo > a{
	display: block;
	margin-left: 15px;
}
.list > ul > li{
	font-size: 14px;
	color: #fdfdfd;
	padding: 15px;
	cursor: pointer;
}
.list > ul > li:before{
	content: 'å·';
	display: inline-block;
	font-size: 16px;
	border-radius: 50%;
	background-color: #fff;
	color: #3c91e4;
	width: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 6px;
}
.list > ul > li:hover,.list > ul > li:focus,.list > ul > li.active{
	background-color: #3c91e4;
}
.main{
	margin-left: 230px;
}
.breadStyle1 .breadtxt{
	padding: 18px 0 18px 20px;
	font-size: 16px;
	line-height: 38px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.imagesPool{
	border: 1px solid #ddd;
	margin-left: 20px;
	margin-right: 20px;
	background: #fff;
}
.tool{
	padding: 12px 0;
	margin: 0 20px;
}
span.page{
	display: inline-block;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #ccc;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-right: 6px;
	cursor: pointer;
}
span.page.active{
	background: #42a1fd;
}*/


.leftDiv{
	background-color: #fff;
	width: 100px;
}
.rightDiv{
	background-color: #fff;
	width: 1080px;
	margin-left: 20px;
	position: relative;
}
.list > ul > li{
	padding: 12px 20px;
	text-align: center;
    color: #03df9d;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}
.list > ul > li:hover,.list > ul > li.active{
	background-color: #ebf3ff;
}
span.page{
	display: inline-block;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #ccc;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-right: 6px;
	cursor: pointer;
}
span.page.active{
	background: #42a1fd;
}
.list{
	border:1px solid #eee;
	position: relative;
	overflow-y: auto;
}
.tool{
	padding: 10px 20px;
}
.imagesPool{
	position: relative;
	overflow: hidden;
}
.panel{
	margin-bottom: 0;
}