.ease_header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.wrapper{
    margin-top: 82px;
}
.easy_logoImg{
    float: left;
    padding: 24px 0;
    margin: 0 20px 0 -20px;
}
.footer{
    width: 1100px;
    margin: 0 auto;
}
.set_number .input{
    width: 80px;
}
.card_btn a{
    width: 100px;
}
.card_list{
    padding: 10px;
}
p.card_detail > span:nth-child(1){
    width: 140px;
}
p.card_detail > span:nth-child(2){
    width: 80px;
}
p.card_detail > span:nth-child(3){
    width: 60px;
}
.row.clearfix{
    margin-bottom: 20px;
}
.card_btn button{
    line-height: 32px;
    width: 100px;
    text-align: center;
    border: 1px solid #419efc;
    display: block;
    border-radius: 3px;
    color: #419efc;
    background-color: #fff;
    cursor: pointer;
}
.card_btn button[disabled="true"]{
    cursor: not-allowed;
    opacity: 0.8;
}
.Btn3{
    background-color: #fff;
}
.card_btn a.deal{
    cursor: pointer;
}
.card_btn a.deal[disabled="true"]{
    cursor: not-allowed;
    opacity: 0.8;
}
ul.bar_list > li.nodata{
    font-size: 25px;
    text-align: center;
    color: #aaa;
}
