nav.navbar-default{
	background-color: #45a5ff;
	background-image: none;
}
.workspace .score-history-panel{
	background-color: 
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #378ee0;
}
.workspace aside{
	background-color: #f5f5f5;
}
.workspace .score-history-panel{
	background-color: #ebf3ff;
}
.workspace .score-history-bar  .score-history-pin{
	background-color: transparent;
}
.workspace .score-history-bar  .score-history-pin i{
	color: #45a5ff;
}
.workspace .score-history-panel ul>li{
	background-color: transparent;
}
.workspace .panel-right{
	background-color: #fff;
    width: 350px;
    position: fixed;
    top: 50px;
    right: 0;
}
.workspace #scoreForm .panel .panel-heading{
	background-color: #fff;
}
.workspace #scoreForm .panel .panel-heading .nav.navbar-inverse{
	background-color: #fff;
}
.workspace .panel{
	background-color: #fff;
	color: #323232;
}
.workspace .panel .panel-footer{
	background-color: #fff;
}
.button-border.button-plain, .button-plain.button-border-thin, .button-plain.button-border-thick, .button-border-thin.button-plain, .button-border-thick.button-plain{
	color: #45a5ff;
}
.button-plain, .button-plain-flat{
	border-color: #45a5ff;
}
.nav.navbar-inverse > ul button.button-plain:hover,.nav.navbar-inverse > ul button.button-plain:focus{
	border-color: #45a5ff;
}
.button-border.button-plain:hover, .button-plain.button-border-thin:hover, .button-plain.button-border-thick:hover, .button-border.button-plain:focus, .button-plain.button-border-thin:focus, .button-plain.button-border-thick:focus, .button-border-thin.button-plain:hover, .button-border-thin.button-plain:focus, .button-border-thick.button-plain:hover, .button-border-thick.button-plain:focus{
	background-color: #45a5ff;
    color: rgb(255, 255, 255);
}
.button-plain:hover, .button-plain:focus, .button-plain-flat:hover, .button-plain-flat:focus{
	border-color: #F44336;
}
.workspace .control-img .slider-selection{
	background : #45a5ff;
}
.workspace .control-img .slider-handle{
	background : #3d93e4;
}
.svGoLeft{
	position: absolute;
    top: 50%;
    left: 0;
    outline: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255,255,255,0.5);
    color: #45a5ff;
    opacity: 0.6;
}
.svGoRight{
	position: absolute;
    top: 50%;
    right: 0;
    outline: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255,255,255,0.5);
    color: #45a5ff;
    opacity: 0.6;
}
.svGoLeft:hover,.svGoRight:hover{
	opacity: 1;
}
.svClose{
	position: absolute;
    width: 40px;
    height: 20px;
    top: 0;
    right: 0;
    border: 1px solid #45a5ff;
    background: #fff;
    color: #45a5ff;
    font-size: 16px;
}
.svClose:hover{
	color: #F44336;
	border-color: #F44336;
	top: none;
}
.svZooming{
	position: absolute;
    top: 0;
    right: 39px;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #45a5ff;
    color: #45a5ff;
    font-size: 16px;
}
.svZooming:hover{
	background-color: #f5f5f5;
}
.workspace{
    background-color: #f5f5f5;
}
.workspace .panel .panel-body .score-button-group  button{
    background-color: #45a5ff;
}
#showScanView{
    background-color: #45a5ff;
}