nav.navbar-default{
	background-color: #45a5ff;
	background-image: none;
}
.workspace .score-history-panel{
	background-color: 
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #378ee0;
}