nav.navbar-default{
	background-color: #45a5ff;
	background-image: none;
}
.workspace .score-history-panel{
	background-color: 
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #378ee0;
}
.workspace aside{
	background-color: #f5f5f5;
}
.workspace .score-history-panel{
	background-color: #ebf3ff;
}
.workspace .score-history-bar  .score-history-pin{
	background-color: transparent;
}
.workspace .score-history-bar  .score-history-pin i{
	color: #45a5ff;
}
.workspace .score-history-panel ul>li{
	background-color: transparent;
}
.workspace .panel-right{
	background-color: #fff;
}
.workspace #scoreForm .panel .panel-heading{
	background-color: #fff;
}
.workspace #scoreForm .panel .panel-heading .nav.navbar-inverse{
	background-color: #fff;
}
.workspace .panel{
	background-color: #fff;
	color: #323232;
}
.workspace .panel .panel-footer{
	background-color: #fff;
}
.button-border.button-plain, .button-plain.button-border-thin, .button-plain.button-border-thick, .button-border-thin.button-plain, .button-border-thick.button-plain{
	color: #45a5ff;
}
.button-plain, .button-plain-flat{
	border-color: #45a5ff;
}
.button-plain:hover, .button-plain:focus, .button-plain-flat:hover, .button-plain-flat:focus{
	color: #45a5ff;
}
.button-border.button-plain:hover, .button-plain.button-border-thin:hover, .button-plain.button-border-thick:hover, .button-border.button-plain:focus, .button-plain.button-border-thin:focus, .button-plain.button-border-thick:focus, .button-border-thin.button-plain:hover, .button-border-thin.button-plain:focus, .button-border-thick.button-plain:hover, .button-border-thick.button-plain:focus{
	background-color: #45a5ff;
    color: rgb(255, 255, 255);
}
.button-plain:hover, .button-plain:focus, .button-plain-flat:hover, .button-plain-flat:focus{
	border-color: #F44336;
}