@charset 'UTF-8';
.load{
	padding: 10px 40px 30px;
}
.load + div{
	padding: 30px 40px;
}
.form-group > input[type="text"]{
	width: 300px;
}
div.checkbox{
	margin: 0 20px;
}
button + input[type="checkbox"]{
	display: none;
}
label.b{
	width: 32px;
	height: 32px;
	position: absolute;
	top: -16px;
	right: -16px;
	background-image: url("../../../img/unchecked.png");
}
.a:checked + label.b{
	background-image: url("../../../img/checked.png");
}

.detail{
	padding: 30px 20px;
	background-color: #fff;
	margin: 20px 0;
	border-radius: 5px;
	position: relative;
	cursor: default;
	color: #323232;
	border:1px solid #ccc;
	width: 100%;
}
.detail:hover{
	box-shadow: 1px 1px 10px 2px #ccc;
}
.detail > h3{
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}
.detail p{
	display: inline-block;
	margin: 20px 200px 0 0;
}
.detail button.btn-primary{
	position: absolute;
	top: 25px;
	right: 100px;
}
.detail button.btn-danger{
	position:absolute;
	top: 25px;
	right: 30px;
}
/*分页*/
.mypager > li > a {
  border-radius: 0;
  color: #333333;
}
.mypager > li > a:hover,.mypager > li > a.active{
  border-color: #2B99F0;
  background-color: #fff;
  color: #2B99F0;
}
.pages {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;	
}

.pages li {
	display: inline;
	margin: 0 2px;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333333;
    border-radius: 0;
}

.pages li.pgCurrent, 
.pages li:hover {
    border-color: #2B99F0;
    background-color: #fff;
    color: #2B99F0;
}
.detail.active {
    background-color: #99CCFF;
}
.exampaper-check {
    position: absolute;
    top: 5px;
    right: 10px;
}
.progress {
    margin-bottom: 0 !important;
}

.counter-files {
    margin-top: 10px;
}
