/* artDialog 弹出标题5 */
body { _margin:0; _height:100%; }
.d-mask { background:#fff; filter:alpha(opacity=50); opacity:.5; }
.d-outer { text-align:left; outline:none 0; padding: 8px;border:0;}
table.d-border, table.d-dialog { border:0; margin:0; border-collapse:collapse; width:100%; *width:auto;}
.d-state-focus .d-inner { text-align:left; border:1px solid #9198a6; box-shadow:0 0 5px 0 #cfcfcf; background:#fff;}
.d-state-lock .d-inner { text-align:left; border:1px solid #9198a6; box-shadow:0 0 5px 0 #cfcfcf; background:#fff;}
.d-state-noTitle .d-inner{ border:0px; background:none; box-shadow:none;}

.d-titleBar { position:relative; height:100%;background: #33bce4;}
.d-title {height:39px; border-bottom:1px solid #dedede; font:16px/39px "microsoft yahei"; color:#555; padding:0px 2px 0px 15px;color: #fff;}
a.d-close{ position:absolute; right:15px; top:13px; background:url(../images/a_close.png) no-repeat 0 0px; width:20px; height:20px; display:block; border:none; text-decoration:none; outline:none; -webkit-transition:-webkit-transform .6s ease; -ms-transition:-ms-transform .6s ease; -moz-transition:-moz-transform .6s ease; transition:transform .6s ease;}
a.d-close:hover{ background-position:0 0; background:url(../images/a_close.png) no-repeat 0px 0px;}
.d-buttons { padding-bottom:15px; text-align:center; white-space:nowrap; }
.d-buttons .d-button{line-height:31px; background:#eee;display:inline-block;border:0;color:#000;font-size:14px;font-weight:bold;padding:0 20px;cursor:pointer;border:1px solid #d4d4d4;vertical-align:middle; margin:0 10px;}
.d-buttons .d-button:hover{background:#d7d7d7;text-decoration:none;}
.d-buttons .d-state-highlight{background:#33bce4;border:1px solid #33bce4; color:#fff;}
.d-buttons .d-state-highlight:hover{background:#33bce4;text-decoration:none;}

.d-content{ display:block; display:block\0/*IE8 BUG*/; display:inline-block\9\0; *zoom:1; text-align:left; border:0 none;}
.d-content.d-state-full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.d-loading { width:96px; text-indent:-9999em; height:32px; text-align:center; overflow:hidden; background:url(../images/ico/loading.gif) no-repeat center center; margin:0 auto;}
.d-icon { vertical-align: middle; }
.d-icon div { width:37px; height:42px; margin:10px 0 10px 45px; background-position: center center; background-repeat:no-repeat; }

.pub-tips-box{display: inline-block;border: 1px solid #d5d5d5;color: #404040;font-size: 14px;padding: 14px 25px;vertical-align: top;background-color: #fff;_float: left;z-index: 9999999;/*width:150px*/}
.pub-tips-box .tips-box-txt{height: 43px;line-height: 43px;padding-left: 50px;font-size: 14px;float:left;position:relative;white-space:nowrap;}
.pub-tips-box .tips-box-txt .icon_tip_success{top: 2px;height: 43px;width: 38px;background:url(../images/tips.jpg) -2px -108px no-repeat;position:absolute;left:0}
.pub-tips-box .tips-box-txt .icon_tip_warning{top: 2px;height: 43px;width: 38px;background:url(../images/tips.jpg) -2px 0px no-repeat;position:absolute;left:0}
.pub-tips-box .tips-box-txt .icon_tip_fail{top: 2px;height: 43px;width: 38px;background:url(../images/tips.jpg) -2px -53px no-repeat;position:absolute;left:0}