.main{
	padding-left: 20px;
}

.error404{
	width: 800px;
	height: 500px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px #dee2e5;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    text-align: center;
}
.error404 > img{
	margin-top: 100px;
}
.error404 > h3{
	color :#646464;
}
.error404 > a{
	color: #2b99f0;
	font-size: 16px;
	margin-top:20px;
	display: inline-block;
}
.error{
	width: 780px;
	height: 500px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px #dee2e5;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-48%);
}