.maintab{
	padding: 0;
	border-radius: 4px;
	border: 1px solid #e5eaed;
}
.maintab-header{
	padding: 10px 20px 5px 20px;
	border-bottom: 1px solid #01adef;
}
.maintab-body{
	padding-top: 15px;
	min-height: 800px;
}
.inputDiv > div > label{
	margin: 7px 0 7px 10px;
}
div.techerList{
	background-color: #f8f8f8;
	height: 700px;
	margin-top: 20px;
	overflow: auto;
}
div.techerList > ul{
	margin: 0;
}
div.techerList li.list-group-item:hover{
	background-color: #2b99f0;
	color: #fff;
	cursor: pointer;
}
li.list-group-item > i{
	margin-right: 6px
}
li.list-group-item > i ~ span{
	display: inline-block;
	min-width: 50px;
	margin-right: 6px;
}

button#btnToR {
	display: block;
	margin: 300px auto 40px auto;
}
button#btnToL {
	display: block;
	margin: auto;
}

/*按钮*/
.btnGreen-fill{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #3ab644;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btnBlue-fill{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #2b99f0;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btnGreen-fill:hover{
	background-color: #2fa838;
}
.btnBlue-fill:hover{
	background-color: #1488e3;
}
.btnBlue-fill:focus{
	background-color: #056fc2;
}
.btnGreen-fill:focus{
	background-color: #1b9825;
}