.main{
	padding-left: 20px;
}
.maintab{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0;
}
.maintab-header{
  margin: 10px 0 0 0;
  border-bottom: 1px solid #01ADEF;
}
.maintab-header > h4{
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  color: #646464;
}
.maintab-body{
	padding:20px 40px;
  min-height: 800px;
}
.maintab-body > h4{
  margin-bottom: 20px;
}
.maintab-body > form{
  display: inline-block;
}
.check{
	color: #2b99f0;
}
.uncheck{
	color: #cfd8dd;
}
/*按钮*/
.btnBlue{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  background-color: #2b99f0;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

.btnlg{
  line-height: 20px;
  padding: 10px 80px;
  border-radius: 4px;
  font-size: 16px;
}

.btnBlue:hover{
  background-color: #1488e3;
}
.btnBlue:focus{
  background-color: #056fc2;
}



/*单选/复选插件*/
input[type="radio"],input[type="checkbox"]{
  visibility: hidden;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

input[type="radio"]+label:before{
  content: "\e72f";
  font-family:"iconfont" !important;
  font-size:18px;
  position: absolute;
  line-height: 20px;
  left: 0;
  font-weight: 500;
}

input[type="checkbox"]+label:before{
  content: "\e720";
  font-family:"iconfont" !important;
  font-size:18px;
  position: absolute;
  line-height: 20px;
  left: 0;
  font-weight: 500;
}

input[type=radio]:checked + label:after{
  content: "\e731";
  font-family:"iconfont" !important;
  font-size:18px;
  color: #2b99f0;
  position: absolute;
  line-height: 20px;
  left: 0;
  font-weight: 500;
}

input[type=checkbox]:checked + label:after{
  content: "\e722";
  font-family:"iconfont" !important;
  font-size:18px;
  color: #2b99f0;
  position: absolute;
  line-height: 20px;
  left: 0;
  font-weight: 500;
}
/*label*/
.radio-control,.checkbox-control{
  position: relative;
  padding-left: 20px;
  display: inline-block;
  font-weight:600;
  color: #484848;
  cursor: pointer;
}
/*块级表单*/
.radiobox,.checkbox{
  position: relative;
}
/*行内表单*/
.radiobox-inline,.checkBox-inline{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  min-width: 80px;
}
.form-group{
  margin-bottom: 35px;
  position: relative;
}
.form-group > label{
  margin-right: 20px;
  min-width: 80px;
  text-align: right;
}
.form-group div.inputGroup{
  display: inline-block;
  vertical-align: text-top;
  width: 621px;
}


@media (min-width: 768px){
  .form-group > .form-control{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
  }
}

.form_datetime ~ span.glyphicon{
  vertical-align: middle;
  position: relative;
  left: -25px;
}

.has-success > label{
  color: #3c763d;
}
.has-warning > label{
  color: #8a6d3b;
}
.has-error > label{
  color: #a94442;
}