.formlabel{
  min-width: 70px;
  text-align: right;
}
@media (min-width: 768px){
  .form-inline .form-control{
    display: inline-block;
    width: 140px;
    vertical-align: middle;
  }
  .form-inline .form-group{
    margin-bottom: 20px;
  }
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width: 140px;
}
.maintab{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.maintab-header{
  margin: 10px 0 20px 0;
  border-bottom: 2px solid #01ADEF;
}
.maintab-header > h3{
  font-size: 18px;
  margin: 0;
  padding: 10px;
  color: #646464;
}
.moresearch{
  display: none;
}
.mypager > li > a {
  border-radius: 0;
  color: #333333;
}
.mypager > li > a:hover,.mypager > li > a.active{
  border-color: #3AB644;
  background-color: #fff;
  color: #3AB644;
}
.btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default{
  color: #333;
  background-color: #ffffff;
  border-color: #adadad;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #2b99f0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #B2B4B6;
}