@charset "UTF-8";
/*common*/
.head_bg { background: #33bce4; }

.header_info { color: #fff; padding: 7px 0; }
.header_info h1 { font-size: 30px; line-height: normal; color: #fff; font-weight: normal; }
.header_info .message span { font-size: 24px; line-height: 52px; }
.header_info .message p { font-size: 40px; line-height: normal; }

.main_content { background: #fff; }

.nav_area { position: relative; }

.nav_tab { background: #0783a7; text-align: center; font-size: 0; line-height: 0; height: auto; padding: 0 15px; }
.nav_tab a { color: #fff; font-size: 16px; display: inline-block; *display: inline; *zoom: 1; line-height: 45px; padding: 0 13px; }
.nav_tab a:hover, .nav_tab a.on { background: #a2e0fe; color: #00a0e9; text-decoration: none; }

.dropdown { position: absolute; left: 15px; top: 8px; }
.dropdown .qjf_seleautodiv { background: #fff; }
.dropdown .qjf_seleautocur { background: none; border: none; }
.dropdown .qjf_seleautocur p { padding: 0 25px 0 15px; }

.main_charts { padding: 10px 15px; }

.common_title { font-size: 20px; color: #00a0e9; background: url(../images/title_bg.png) center bottom repeat-x; font-weight: normal; }
.common_title span { display: inline-block; *display: inline; *zoom: 1; padding: 0 7px; border-bottom: 2px solid #00a0e9; line-height: 38px; }

.side_distance { padding-left: 39px; padding-right: 39px; padding-top: 25px; padding-bottom: 25px; }

.justify_fix { display: inline-block; width: 100%; height: 0; overflow: hidden; }

/*班主任-多科 star*/
.general { position: relative; }
.general dl { font-size: 18px; color: #686868; padding-bottom: 15px; }
.general dl.general_c dd ul li p { padding-bottom: 24px; }
.general dl.general_c dt { line-height: 30px; padding-top: 64px; }
.general dl dt { width: 122px; }
.general dl dt span { display: block; padding-bottom: 6px; }
.general dl dd { width: 770px; }
.general dl dd ul { text-align: justify; }
.general dl dd ul li { display: inline-block; *display: inline; *zoom: 1; text-align: center; }
.general dl dd ul li p { padding-bottom: 6px; }
.general dl.small.general_c, .general dl.small { font-size: 14px; }
.general dl.small.general_c dt, .general dl.small dt { width: 150px; margin-right: 30px; }
.general dl.small.general_c dd, .general dl.small dd { width: 712px; }
.general dl.small.general_c dd ul li p, .general dl.small dd ul li p { font-size: 18px; }

.chart_progress i { font-size: 16px; color: #00a0e9; margin-right: 5px; display: inline-block; *display: inline; *zoom: 1; width: 40px; }
.chart_progress span { display: inline-block; *display: inline; *zoom: 1; width: 70px; height: 11px; background: #d5d5d5; border-radius: 50px; position: relative; overflow: hidden; }
.chart_progress span em { position: absolute; left: 0; top: 0; bottom: 0; background: #00a0e9; }

.elite_student { width: 100%; border-collapse: collapse; border: 1px solid #848484; font-size: 14px; }
.elite_student th, .elite_student td { border: 1px solid #848484; height: 40px; text-align: center; }
.elite_student td span { display: block; }
.elite_student.has_tips td { padding: 3px 0; position: relative; }
.elite_student .score { position: absolute; left: 85%; top: 50%; margin-top: -20px; font-size: 14px; color: #616161; line-height: 41px; width: 125px; text-align: center; background: url(../images/tips.png) center center no-repeat; z-index: 30; display: none; padding-left: 17px; }

.has_tips td.current .score { display: block; }

.balance dl dt { width: 342px; color: #686868; }
.balance dl dt h4 { font-size: 22px; color: #686868; font-weight: normal; line-height: normal; padding-bottom: 3px; }
.balance dl dt p { font-size: 18px; line-height: 31px; }
.balance dl dd { width: 534px; }
.balance dl.one dt { padding-top: 40px; }
.balance dl.two dt { padding-top: 30px; }
.balance dl.three dt { padding-top: 30px; }

.g_color { color: #00d395; }

.r_color { color: #db0000; }

.b_color { color: #00a0e9; }

.line_guide { text-align: center; }
.line_guide li { display: inline-block; *display: inline; *zoom: 1; padding-left: 15px; }
.line_guide li span { color: #686868; font-size: 14px; display: inline-block; *display: inline; *zoom: 1; padding-left: 37px; }
.line_guide li.line1 span { background: url(../images/line1.png) left center no-repeat; }
.line_guide li.line2 span { background: url(../images/line2.png) left center no-repeat; }
.line_guide li.line3 span { background: url(../images/line3.png) left center no-repeat; }
.line_guide li.line4 span { background: url(../images/line4.png) left center no-repeat; }
.line_guide li.line5 span { background: url(../images/line5.png) left center no-repeat; }
.line_guide li.line6 span { background: url(../images/line6.png) left center no-repeat; }
.line_guide li.line7 span { background: url(../images/line7.png) left center no-repeat; }

.change_data { position: relative; }
.change_data > i { display: block; width: 30px; height: 50px; top: 0; cursor: pointer; position: absolute; }
.change_data > i.next_data { right: -30px; background: url(../images/next.png) center center no-repeat; }
.change_data > i.prev_data { left: -30px; background: url(../images/prev.png) center center no-repeat; }

/*班主任-多科 end*/
/*年级 star*/
.compar_tab { background: none; border: none; text-align: center; }
.compar_tab a { display: inline-block; *display: inline; *zoom: 1; color: #686868; font-size: 14px; line-height: 26px; padding: 0 10px; }
.compar_tab a:hover, .compar_tab a.on { background: #24a7ea; text-decoration: none; color: #fff; }

.student_type .line_guide { float: right; width: 145px; }
.student_type .line_guide li { display: block; text-align: left; padding-top: 4px; padding-bottom: 4px; }
.student_type #chart_bar { float: left; width: 740px !important; }

/*年级 end*/
/*年级多科 start*/
.college_exam dl dt { width: 400px; }
.college_exam dl dt h4 { color: #686868; font-size: 22px; line-height: normal; font-weight: normal; padding-bottom: 3px; }
.college_exam dl dt p { font-size: 18px; color: #686868; line-height: 31px; }
.college_exam dl dd { width: 424px; }

.compare_explain { font-size: 14px; color: #686868; line-height: 40px; border: 1px dashed #42b9ef; margin-top: 15px; }

/*年级多科 end*/
/*教师_单科 star*/
.situation_compare { padding: 0 39px; }
.situation_compare li { display: inline-block; *display: inline; *zoom: 1; }
.situation_compare li.index_tit { width: 85px; }
.situation_compare li.at_bar { padding: 0 155px 0 115px; }
.situation_compare li p { font-size: 16px; color: #686868; line-height: normal; padding-bottom: 10px; }
.situation_compare li p.tips { color: #686868; font-size: 30px; text-align: center; }
.situation_compare li p.bars i { font-size: 16px; color: #2a92e7; margin-right: 7px; display: inline-block; *display: inline; *zoom: 1; width: 60px; }
.situation_compare li p.bars span { display: inline-block; *display: inline; *zoom: 1; width: 188px; height: 11px; background: #d5d5d5; border-radius: 10px; position: relative; overflow: hidden; }
.situation_compare li p.bars span em { display: block; position: absolute; left: 0; top: 0; bottom: 0; background: #00a0e9; border-radius: 10px; }

h4.chara_tit { font-size: 20px; text-align: center; line-height: normal; font-weight: normal; padding: 5px 0; }

.merit { color: #68d523; }

.defect { color: #de6b6b; }

.chara_list { width: 100%; border-collapse: collapse; text-align: center; }
.chara_list th, .chara_list td { border: 1px solid #848484; height: 40px; }

.characteristic h4.chara_tit { padding: 5px 0 15px 0; }

.fallibility_list { width: 100%; border-collapse: collapse; text-align: center; }
.fallibility_list th, .fallibility_list td { border: 1px solid #848484; height: 40px; font-size: 14px; position: relative; }
.fallibility_list a { color: #555; }
.fallibility_list td.hover .r_peo_list { display: block; }
.fallibility_list td.hover .e_tip_list { display: block; }
.fallibility_list .r_peo_list { display: none; position: absolute; left: 78%; top: 9%; background: #fff; width: 244px; z-index: 100; }
.fallibility_list .r_peo_list em { position: absolute; left: 2px; top: 13px; width: 18px; height: 18px; background: url(../images/bubble.png) center center no-repeat; }
.fallibility_list .r_peo_list i { padding: 10px 10px; border: 1px solid #ff6d3f; background: #fff; display: block; margin-left: 17px; }
.fallibility_list .e_tip_list { display: none; position: absolute; left: 78%; top: 2%; background: #fff; width: 244px; z-index: 100; }
.fallibility_list .e_tip_list em { position: absolute; left: 2px; top: 13px; width: 18px; height: 18px; background: url(../images/bubble.png) center center no-repeat; }
.fallibility_list .e_tip_list i { padding: 10px 10px; border: 1px solid #ff6d3f; background: #fff; display: block; margin-left: 17px; }

.standard { font-size: 17px; color: #474747; font-weight: bold; padding: 5px 0 26px 0; }
.standard i { color: #24a7ea; }

.standard_list { width: 100%; border-collapse: collapse; font-size: 14px; }
.standard_list th, .standard_list td { height: 40px; border: 1px solid #848484; text-align: center; position: relative; }
.standard_list td.hover .e_tip_list { display: block; }
.standard_list td.check a { color: #616161; }
.standard_list td.check span { display: inline-block; *display: inline; *zoom: 1; padding: 0 7px; }
.standard_list .e_tip_list { display: none; position: absolute; left: 78%; top: 2%; width: 244px; z-index: 100; }
.standard_list .e_tip_list em { position: absolute; left: 2px; top: 13px; width: 18px; height: 18px; background: url(../images/bubble.png) center center no-repeat; }
.standard_list .e_tip_list i { padding: 10px 10px; border: 1px solid #ff6d3f; background: #fff; display: block; margin-left: 17px; }

.tb_error_list { width: 100%; border-collapse: collapse; text-align: center; }
.tb_error_list th, .tb_error_list td { border: 1px solid #848484; height: 40px; font-size: 14px; position: relative; }
.tb_error_list td.hover .r_peo_list { display: block; }
.tb_error_list td a { color: #555; }
.tb_error_list .r_peo_list { display: none; position: absolute; left: 78%; top: 9%; background: #fff; width: 244px; z-index: 100; }
.tb_error_list .r_peo_list em { position: absolute; left: 2px; top: 13px; width: 18px; height: 18px; background: url(../images/bubble.png) center center no-repeat; }
.tb_error_list .r_peo_list i { padding: 10px 10px; border: 1px solid #ff6d3f; background: #fff; display: block; margin-left: 17px; }

.options_list { width: 100%; border-collapse: collapse; text-align: center; }
.options_list th, .options_list td { border: 1px solid #848484; height: 40px; font-size: 14px; position: relative; }
.options_list td.hover .r_peo_list { display: block; }
.options_list td a { color: #555; }
.options_list .r_peo_list { display: none; position: absolute; left: 78%; top: 9%; background: #fff; width: 244px; z-index: 100; }
.options_list .r_peo_list em { position: absolute; left: 2px; top: 13px; width: 18px; height: 18px; background: url(../images/bubble.png) center center no-repeat; }
.options_list .r_peo_list i { padding: 10px 10px; border: 1px solid #ff6d3f; background: #fff; display: block; margin-left: 17px; }

.p_bars i { font-size: 16px; color: #616161; margin-right: 35px; }
.p_bars span { display: inline-block; *display: inline; *zoom: 1; width: 275px; height: 11px; background: #d5d5d5; border-radius: 50px; position: relative; overflow: hidden; }
.p_bars span em { position: absolute; left: 0; top: 0; bottom: 0; background: #00a0e9; }

/*教师_单科 end*/
/*学生_单科 star*/
.analyze_list { width: 100%; border-collapse: collapse; text-align: center; }
.analyze_list th, .analyze_list td { border: 1px solid #848484; height: 40px; font-size: 14px; }

.percent_bar i { margin-right: 5px; display: inline-block; *display: inline; *zoom: 1; width: 43px; text-align: left; }
.percent_bar span { display: inline-block; *display: inline; *zoom: 1; width: 102px; height: 15px; vertical-align: middle; background: #e0e0e0; border-radius: 10px; overflow: hidden; margin-top: -4px; position: relative; }
.percent_bar span em { position: absolute; left: 0; top: 0; bottom: 0; }

.hot1 em { background: #68d523; }

.hot2 em { background: #f3b70e; }

.up_arrow { background: url(../images/up_arrow.png) center center no-repeat; height: 40px; display: block; }

.down_arrow { background: url(../images/down_arrow.png) center center no-repeat; height: 40px; display: block; }

.subsection { padding: 0 27px 0 37px; margin-top: 15px; }
.subsection dt { float: left; margin-left: 14px; }
.subsection dt p { line-height: 38px; color: #fff; text-align: center; font-size: 16px; }
.subsection dt span { font-size: 20px; color: #686868; display: block; text-align: center; padding: 4px 0; }
.subsection dt.sub1 { width: 31%; margin-left: 0; }
.subsection dt.sub1 p { background: #de6b6b; }
.subsection dt.sub1 i { color: #de6b6b; }
.subsection dt.sub2 { width: 24%; }
.subsection dt.sub2 p { background: #ff6d3f; }
.subsection dt.sub2 i { color: #ff6d3f; }
.subsection dt.sub3 { width: 24%; }
.subsection dt.sub3 p { background: #2a92e7; }
.subsection dt.sub3 i { color: #2a92e7; }
.subsection dt.sub4 { width: 16.3%; }
.subsection dt.sub4 p { background: #a4da34; }
.subsection dt.sub4 i { color: #a4da34; }

.sub_details { font-size: 14px; color: #474747; }

.number_points { font-size: 14px; color: #474747; font-weight: normal; padding-bottom: 20px; }
.number_points em { display: inline-block; *display: inline; *zoom: 1; line-height: 30px; color: #fff; font-size: 16px; width: 58px; background: #ff6d3f; margin-right: 7px; text-align: center; }

.sub_content dt { padding-bottom: 5px; }
.sub_content dd ul li { display: inline-block; *display: inline; *zoom: 1; width: 48%; padding: 3px 0; }
.sub_content dd ul li span { margin-right: 5px; }

.own_answer { font-size: 16px; padding: 3px 0; margin-left: 15px; }
.own_answer i { color: #db6969; margin-left: 5px; }

.right_answer { font-size: 16px; padding: 3px 0; margin-left: 15px; }
.right_answer i { color: #a2da3b; margin-left: 5px; }

.sub_analysis { padding-top: 15px; border-top: 1px dashed #24a7ea; margin-top: 15px; margin-left: 15px; margin-right: 15px; }
.sub_analysis ul { margin-left: -5px; padding-bottom: 10px; }
.sub_analysis ul li { padding: 3px 0; }

.ana_index { color: #24a7ea; font-size: 16px; font-weight: normal; padding-bottom: 7px; }

/*学生_单科 end*/
/*教师_多科 star*/
.grade_list { width: 100%; border-collapse: collapse; font-size: 14px; }
.grade_list th, .grade_list td { height: 40px; border: 1px solid #848484; text-align: center; position: relative; }

.reports_list { width: 100%; border-collapse: collapse; font-size: 14px; }
.reports_list th, .reports_list td { height: 40px; border: 1px solid #848484; text-align: center; position: relative; }
.reports_list td a { color: #616161; }
.reports_list td span { display: inline-block; *display: inline; *zoom: 1; padding: 0 7px; }

/*教师_多科 end*/

/*# sourceMappingURL=chart.css.map */
