div.maintab{
	background-color: #fff;
	border-radius: 4px;
}
div.maintab > div.maintab-header{
	overflow: hidden;
	padding: 5px 20px;
	border-bottom: 1px solid #01adef;
}
div.maintab > div.maintab-header > h4{
	color: #646464;
	font-size: 16px;
}

.detail {
  padding: 30px 20px;
  border-right: 1px solid #e5eaee;
  margin-bottom: 20px;
}
.detail > ul{
  list-style: none;
  padding: 0;
}
.detail > ul > li dt,.detail > ul > li dd{
  display: inline-block;
}
.detail > ul > li > dl > dt{
  min-width: 100px;
  font-size: 16px;
  text-align: right;
  margin-right: 40px; 
  color: #646464;
}
.detail > ul > li dd{
  font-size: 14px;
  font-weight: 500;
  color: #646464;
  vertical-align: top;
}
.detail > ul > li dd > ul{
	list-style: none;
	padding: 0;
	width: 700px;
	display: inline-block;
}
.detail > ul > li dd > ul.file{
	color: #2d99f3;
	cursor: pointer;
}
.detail > ul > li dd > ul > li{
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;

}
.detail > ul > li dd > button{
	vertical-align: top;
}
/*删除按钮*/
i.icon-shanchu{
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  color: #969696;
  border-radius: 50%;
  border: 1px solid #969696;
  margin-left: 2px;
}
/*悬停的效果*/
i.icon-shanchu:hover{
  color: #e11111;
  font-weight: 600;
}
/*文件上传进度框*/
div.uploding{
  padding: 40px 20px;
  width: 850px;
  margin: 40px auto;
  overflow: hidden;
  border: 2px dashed #bfbfbf;
  border-radius: 12px;
}
div.studentList{
  width: 1000px;
  margin: 40px auto;
}
div.studentList > table > tbody{
  border: 1px solid #ddd;
}
caption > h4{
  display: inline-block;
  margin-right: 30px;
  color: #323232;
  font-weight: 600;
}
caption > p{
  display: inline-block;
  color: #323232;
}
/*分页*/
.mypager > li > a {
  border-radius: 0;
  color: #333333;
}
.mypager > li > a:hover,.mypager > li > a.active{
  border-color: #2B99F0;
  background-color: #fff;
  color: #2B99F0;
}
/*文字提示 redinfo*/
a.redInfo{
  color: #d10000;
  font-weight: 600;
  cursor: pointer;
}