body{
	background-color: #F1F4F8;
	font-family: "微软雅黑";
}


.mynavbar{
	background-color: #2B99F0;
	min-height: 60px;
	border-color: transparent;
}
@media (min-width: 768px){
	.navbar>.container-fluid .navbar-brand{
		margin-left: 0;
	}
	.mynavbar-nav{
		margin-left: 20px;
		margin-top: 14px;
	}
	.mynavbar-nav > li > a{
		padding-top: 8px;
		padding-bottom: 8px;
		margin-left: 5px;
		font-family: '微软雅黑';
		font-size: 16px;
	}
	.mynavbar-user{
		margin-right: 20px;
		margin-top: 20px;
	}
	.mynavbar-user > li > a{
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: '微软雅黑';
		font-size: 18px;
	}
}
.navbar-brand{
	padding: 0 10px;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .mynavbar-nav > li > a:hover,
.navbar-default .mynavbar-nav > li > a:focus {
  color: #fff;
  background-color: #0676cb;
  border-radius: 20px;
}
.navbar-default .mynavbar-nav > .active > a,
.navbar-default .mynavbar-nav > .active > a:hover,
.navbar-default .mynavbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0676cb;
  border-radius: 20px;
}
.navbar-default .mynavbar-user > li > a:hover,
.navbar-default .mynavbar-user > li > a:focus {
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #fff;
    background-color: rgba(255,255,255,0.2);
}
.dropdown-menu{
	min-width: 100px;
}
.mypanel{
	width: 330px;
	height: 380px;
	border-radius: 4px;
	margin-bottom: 50px;
	text-align: center;
	background-color: #fff;
	transition: box-shadow .3s;
	-webkit-transition:box-shadow ease-in-out .4s;
	   -moz-transition:box-shadow ease-in-out .4s;
	    -ms-transition:box-shadow ease-in-out .4s;
	     -o-transition:box-shadow ease-in-out .4s;
}
@media (min-width: 992px) and (max-width: 1199px){
	.mypanel{
		width: 280px;
	}
}
.mypanel:hover{
	box-shadow: 0 0 10px 5px #D0D5DA;
}
.mypanel-head{
	width: 100%;
	height: 135px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	background-color: #63a9eb;
	position: relative;
}
.mypanel-body{
	width: 100%;
	height: 210px;
	border: 1px solid transparent;
	position: relative;
	overflow: hidden;
}
.msg{
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	color: #f50000;
	font-size: 20px;
	background-image: url("../../../img/提示框.png");
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}
.mypanel-head-bar{
	line-height: 135px;
	color: #fff;
	font-size: 28px;
	cursor: default;

}
.mypanel-body > span{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #969696;
}
.btnBlue{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #2b99f0;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btnxs{
	line-height: 10px;
	padding: 5px 10px;
	border-radius: 10px;
}
.btnBlue:hover{
	background-color: #1488e3;
}
.btnBlue:focus{
	background-color: #056fc2;
}
.table td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: 0;
	cursor: default;
	
}
.table>tbody>tr>td{
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid transparent;
    /*text-align: left;*/
}
.footerMsg{
	background-color: #DFE1E4;
	height: 60px;
	text-align: center;
}
.footerMsg > p{
	margin:0;
	color: #646464;
	font-size: 12px;
	line-height: 60px;
}
.contact{
	text-align: center;
}
.contact > span{
	display: inline-block;
	border: 1px solid #caced5;
	border-radius: 22px;
	padding: 8px 15px;
	margin-right: 40px;
	margin-bottom: 20px;
	min-width: 230px;
	cursor: default;
}