/*主体部分 除开头部导航栏*/
.main{
	padding-left: 20px;
	height: auto;
}
.maintab{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0;
}
.maintab-header{
  margin: 10px 0 0 0;
  border-bottom: 1px solid #01ADEF;
}
.maintab-header > h4{
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  color: #646464;
}
.maintab-body{
	overflow: hidden;
}
/* 阅卷信息部分  */
.body-list{
  padding: 20px 10px;
  position: relative;
}
.body-list > ul{
  list-style: none;
  padding: 0;
}
.body-list > ul dl,.body-list > ul dt,.body-list > ul dd{
  display: inline-block;
}
.body-list > ul dt{
  min-width: 90px;
  font-size: 18px;
  text-align: right;
  margin-right: 20px; 
  color: #646464;
}
.body-list > ul dd{
  min-width: 300px;
  font-size: 16px;
}

/*文字提示 redinfo*/
span.redInfo{
  color: #d10000;
  font-weight: 600;
}
/*按钮*/
.btnBlue{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #2b99f0;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  background-color: #fff;
  border: 1px solid #2b99f0;
  border-radius: 4px;
  outline: none;
}
.btnBlue-fill{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  background-color: #2b99f0;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.btnGreen{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #3ab644;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  background-color: #fff;
  border: 1px solid #3ab644;
  border-radius: 4px;
  outline: none;
}
.btnlink{
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #2b99f0;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  background-image: none;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.btnlg{
  line-height: 20px;
  padding: 10px 60px;
  border-radius: 4px;
  font-size: 16px;
}
.btnBlue-fill:hover{
  background-color: #1488e3;
}
.btnBlue:hover{
  border-color: #1488e3;
  color: #fff;
  background-color: #1488e3;

}
.btnGreen:hover{
  border-color: #2fa838;
  color: #fff;
  background-color: #2fa838;
}
.btnlink:hover{
  color: #1488e3;
  text-decoration: underline;
}

.btnBlue:focus{
  border-color: #056fc2;
  color: #fff;
  background-color: #056fc2;
}
.btnBlue-fill:focus{
  background-color: #056fc2;
}
.btnGreen:focus{
  border-color: #1b9825;
  color: #fff;
  background-color: #1b9825;
}
.btnlink:focus{
  color: #056fc2;
  text-decoration: underline;
}



/*考试列表样式*/
.subject{
	overflow: hidden;
	margin-bottom: 40px;
	padding: 0 20px;

}
.subject > h4.title{
	font-weight: 600;
	color: #646464;
}
.subject > .box{
	overflow: hidden;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #dcdcdc;
	padding: 30px 10px;
	margin: 0 10px;
}
.box .boxchild{
	display: inline-block;
	color: #646464;
}
.box .boxchild > p{
	font-size: 16px;
}
.box .boxchild > div{
	text-align: left;
	min-height: 65px;
}


/*按钮组*/
.mainRight{
	border-left: 1px solid #dcdcdc;
}
.btnGroup{
	width: 220px;
	margin: 0 auto;
	padding: 40px 0 60px 0;
}
.btnGroup button{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 0;
}