body{
	background-color: #F8F8F8;
	font-family: "微软雅黑";
}


.mynavbar{
	background-color: #2B99F0;
	min-height: 60px;
}
@media (min-width: 768px){
	.navbar>.container-fluid .navbar-brand{
		margin-left: 0;
	}
	.mynavbar-nav{
		margin-left: 20px;
		margin-top: 20px;
	}
	.mynavbar-nav > li > a{
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 5px;
		font-family: '微软雅黑';
		font-size: 16px;
	}
	.mynavbar-user{
		margin-right: 20px;
		margin-top: 20px;
	}
	.mynavbar-user > li > a{
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: '微软雅黑';
		font-size: 18px;
	}
}
.navbar-brand{
	padding: 0 10px;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .mynavbar-nav > li > a:hover,
.navbar-default .mynavbar-nav > li > a:focus {
  color: #2B99F0;
  background-color: #fff;
  border-radius: 20px;
}
.navbar-default .mynavbar-nav > .active > a,
.navbar-default .mynavbar-nav > .active > a:hover,
.navbar-default .mynavbar-nav > .active > a:focus {
  color: #2B99F0;
  background-color: #fff;
  border-radius: 20px;
}
.navbar-default .mynavbar-user > li > a:hover,
.navbar-default .mynavbar-user > li > a:focus {
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #fff;
    background-color: rgba(255,255,255,0.2);
}
.dropdown-menu{
	min-width: 100px;
}

.table td+td {
	text-align: right;
}
.tab-header > img{
	width: 30px;
	height: 30px;
	vertical-align:text-bottom;
}
.tab-header > h3{
	display: inline-block;
	color: #D4D6DA;
	font-size: 26px;
	line-height: 30px;
}
.tab-header > a{
	margin-top: 30px;
	color: #969696;
}
.table>tbody>tr>td{
	border: none;
	padding-left: 0;
	vertical-align: middle;
}
.tab{
	background-color: #fff;
    border-left: 4px solid #f6ada2;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.tab1{
	border-left: 4px solid #B3DFF8;
}
.tab2{
	border-left: 4px solid #FCCAE7;
}
.tab3{
	border-left: 4px solid #8CE3EA;
}
.tab-body button {
	border: 1px solid #2B99F0;
	border-radius: 20px;
	padding: 5px 10px;
	background-color: #fff;
	color: #2B99F0;
	font-weight: 500;
	min-width: 100px;
	outline: none;
}
.tab-body button:hover, .tab-body button:focus{
	border: 1px solid #2B99F0;
	background-color: #2B99F0;
	color: #fff;
}
button.btnok{
	border: 1px solid #8e8e8e;
	background-color: #fff;
	color: #8e8e8e;
}
button.btnok:hover,button.btnok:focus{
	border: 1px solid #8e8e8e;
	background-color: #fff;
	color: #8e8e8e;
}
.datano{
	text-align: center;
	font-size: 26px;
	color: #e8e8e8;
}
.datano>img{
	height: 120px;
}
