body,html{
  font-family: "微软雅黑";
  height: 100%;
}
.header{
  background-color: #2B99F0;
  min-height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-btn{
  color: #fff;
  display: inline-block;
  border: 1px solid #0676cb;
  border-radius: 20px;
  padding: 3px 15px;
  margin: 10px 0;
  text-decoration: none;
  background-color: #2B99F0;
  font-size: 16px;
}
.header-btn:hover,.header-btn:focus{
  color: #fff;
  text-decoration:none;
  background-color: #0676cb;
}
.header-btn > span{
  font-size: 22px;
}
.header-text{
  display: inline-block;
  padding-left: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.dropdown-menu{
  min-width: 100px;
  margin: -1px 0 0;
}
.header-dropdown button{
  display: inline;
  font-size: 16px;
  color: #fff;
  margin-top: 12px;
  margin-right: 40px;
}
.header-dropdown button:hover,.header-dropdown button:focus{
  color: #fff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
}
.aside{
  width: 180px;
  height: 100%;
  background-color: #fff;
  float: left;
  box-shadow: 10px 5px 20px #E4E8EA;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0px;
  list-style:none;
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li > a{
  color: #fff;
  font-size: 16px;
}
.asidelist{
  margin: 70px 0 20px 0;
}
.asidelist-item{
  display: block;
  min-height: 60px;
  line-height: 29px;
  color: #000;
  font-size: 16px;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 5px solid transparent;
  transition:font-size 100ms;
  -moz-transition:font-size 100ms; /* Firefox 4 */
  -webkit-transition:font-size 100ms; /* Safari and Chrome */
  -o-transition:font-size 100ms; /* Opera */
}
.asidelist-item.active,.asidelist-item:hover,.asidelist-item:focus{
  border-left: 5px solid #2B99F0;
  background-color: #E4F7FE;
  color: #2B99F0;
  font-size: 20px;
  text-decoration:none;
}
.main{
  padding-left: 200px;
  padding-right: 20px;
  padding-top: 80px;
  background-color: #EFF3F6;
  height: 100%;
}
.maintab{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.maintab-header{
  margin: 10px 0 20px 0;
  border-bottom: 2px solid #01ADEF;
}
.maintab-header > .breadcrumb > li > a{
  color: #646464;
  font-size: 16px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #B2B4B6;
}
