.maintab{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0;
}
.maintab-header{
  margin: 10px 0 0 0;
  border-bottom: 2px solid #01ADEF;
}
.maintab-header > h3{
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  color: #646464;
}
.btnBlue-fill{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #2b99f0;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btnGreen-fill{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #3ab644;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btnBlue{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #2b99f0;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #fff;
	border: 1px solid #2b99f0;
	border-radius: 4px;
	outline: none;
}
.btnlink{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #2b99f0;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btndefault{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #818080;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	background-color: #fff;
	border: 1px solid #D3D8DB;
	border-radius: 4px;
	outline: none;
}
.btnxs{
	line-height: 10px;
	padding: 5px 10px;
	border-radius: 10px;
}
.btnsm{
	line-height: 12px;
	padding: 5px 7px;
	border-radius: 4px;
}

/*停留的效果*/
.btnBlue-fill:hover{
	background-color: #1488e3;
}
.btnBlue:hover{
	border-color: #1488e3;
	color: #1488e3;
}
.btnGreen-fill:hover{
	background-color: #2fa838;
}
.btnlink:hover{
	color: #1488e3;
	text-decoration: underline;
}
.btndefault:hover{
	background-color: #eff3f6;
}
/*点击效果*/
.btnBlue-fill:focus{
	background-color: #056fc2;
}
.btnBlue:focus{
	border-color: #056fc2;
	color: #056fc2;
}
.btnGreen-fill:focus{
	background-color: #1b9825;
}
.btnlink:focus{
	color: #056fc2;
	text-decoration: underline;
}
.btndefault:focus{
	background-color: #fff;
	color: #1488e3;
	border-color: #1488e3;
}
.body-list{
	padding: 20px;
	border-bottom: 1px solid #e6eaed;
	position: relative;
}
.list-right{
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0,-50%);
}